{% extends 'base.html' %}

{% block content %}

<h1> Edit fabric form</h1>

<form action="/fabrics/{{ fabric.id }}" method="post" >
<ul class="form_wrapper">

    <li class="form_field form_input">
        <label for="manufacturer" class="mid_bold">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id" class="field_width3" required > 

        {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}"
        {% if fabric.manufacturer.id == manufacturer.id %} selected="selected"{% endif %}>
        {{ manufacturer.name }}
        </option>
        {% endfor %}
        </select>   
    </li>

    <li class="form_field form_input">
        <label for="design_ref" class="mid_bold">Design ref:</label>
        <input type="text" id="design_ref" name="design_ref" value="{{ fabric.design_ref }}" class="field_width" required>
    </li>

    <li class="form_field form_input">
        <label for="main_colour" class="mid_bold">Main colour:</label>
        <select id="main_colour" name="main_colour" class="field_width3" required > 
        <!-- drop down -->
            
        <option value="{{ fabric.main_colour }}"> {{ fabric.main_colour }} </option>
            {% for colour in all_colours %}
        <option value="{{ colour }}">{{ colour }}</option>
            {% endfor %}
        </select> 
    </li>

    <li class="form_field form_input">
        <label for="style" class="mid_bold">Style:</label>
        <select id="style" name="style" class="field_width3" required > 
        <!-- drop down -->
            <option value="{{ fabric.style}}"> {{ fabric.style}} </option>
                {% for style in all_styles %}
            <option value="{{ style }}">{{ style }}</option>
                {% endfor %}
        </select> 
    </li>

    <li class="form_field form_input">
        <label for="stock_price" class="mid_bold">Stock price £:</label>
        <input type="string" id="stock_price" name="stock_price" value = "{{ fabric.stock_price }}" class="field_width" required >
    </li>

    <li class="form_field form_input">
        <label for="sale_price" class="mid_bold">Sale price £:</label>
        <input type="string" id="sale_price" name="sale_price" value = "{{ fabric.sale_price }}" class="field_width" required >
    </li>

    <li class="form_field form_input">
        <label for="quantity" class="mid_bold">Quantity m:</label>
        <input type="number" id="quantity" name="quantity" value = "{{ fabric.quantity }}" class="field_width" required >        
    </li>

</ul>  

    <button type="submit" class="button link2">Update and return to stock</button>

</form>


{% endblock %}