{% extends 'base.html' %}

{% block content %}


<!-- # FILTER -->
<!-- Filter by:
<form action="/fabrics/by-manufacturer" method="post">

<div>
    <label for="manufacturer">Manufacturer</label>
    <select id="manufacturer" name="manufacturer_id">  -->
        <!-- drop down -->  
        <!-- <option value=""></option>
            {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
            {% endfor %}
    </select> 
</div>

    <button type="submit">Apply filter</button>

</form> -->

<form action="/fabrics/by-fields" method="post">
   
    <div>
        <label for="main_colour">Main colour:</label>
        <select id="main_colour" name="main_colour" required > 
        <!-- drop down -->
            
        <option value=""></option>
            {% for colour in all_colours %}
        <option value="{{ colour }}">{{ colour }}</option>
            {% endfor %}
        </select> 
    </div>


    <div>
        <label for="manufacturer">Manufacturer</label>
        <select id="manufacturer" name="manufacturer_id"> 
            <!-- drop down -->
            <option value=""></option>
                {% for manufacturer in all_manufacturers %}
            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                {% endfor %}
        </select> 
    </div>
    
    <button type="submit">Apply filter</button>
    
</form>

    <a href="/fabrics">Remove filter</a>

<!-- # TABLE OF FABRIC -->
<table>
<tr>
    <th>Stock id (click to edit)</th>
    <th>Design ref</th>
    <th>Main colour</th>
    <th>Style</th>
    <th>Stock price £/m</th>
    <th>Sale price £/m</th>
    <th>Markup %</th>
    <th>Quantity m</th>
    <th>Stock warning</th>
    <th>Manufacturer (click to view)</th>
    <th>Delete item</th>
</tr>

{% for fabric in fabrics %}
<tr>
    <td><a href="/fabrics/{{ fabric.id }}/edit">{{ fabric.id }}</a></td>
    <td>{{ fabric.design_ref }}</td>
    <td> {{ fabric.main_colour }}</td>
    <td>{{ fabric.style }}</td>
    <td>{{ fabric.stock_price }}</td>
    <td>{{ fabric.sale_price }}</td>
    <!-- Mark up -->
    <td>{{fabric.mark_up(fabric.stock_price, fabric.sale_price)}}</td>
    <td>{{ fabric.quantity }}</td>
    <!-- Low stock warning -->
    <td>{{ fabric.flag_low_or_out_of_stock(fabric.quantity) }}</td>  
    <td> 
        <a href="/manufacturer/{{ fabric.manufacturer.id }}">{{ fabric.manufacturer.name }}</a>
    </td>
    <td>
    <form action="/fabrics/{{ fabric.id }}/delete-fabric" method="POST">
        <button>Delete</button>
    </form>
    </td>
</tr>
{% endfor %}

</table>

<!-- # ADD NEW FABRIC BUTTON -->
<button>
    <a href="/fabrics/new">Add Fabric</a>
</button>


{% endblock %}