{% extends 'base.html' %}

{% block content %}


<!-- # FILTER -->
<h3> Filter by: </h3>

<form action="/fabrics/by-fields" method="post" class="form_horizontal">
   
    <div class="form_field">
        <label for="main_colour"> Main colour: </label>
        <select id="main_colour" name="main_colour" class="field_width" required > 
        <!-- drop down -->
            
        <option value=""></option>
            {% for colour in all_colours %}
        <option value="{{ colour }}">{{ colour }}</option>
            {% endfor %}
        </select> 
    </div>

    <div class="form_field">
        <label for="manufacturer"> Manufacturer </label>
        <select id="manufacturer" name="manufacturer_id" class="field_width" > 
            <!-- drop down -->
            <option value=""></option>
                {% for manufacturer in all_manufacturers %}
            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                {% endfor %}
        </select> 
    </div>
    
    <button type="submit" class="button"><strong>Apply filter</strong></button>
    <a href="/fabrics" class="link"><strong>Remove filter</strong> </a>
    
</form>





<!-- # TABLE OF FABRIC -->

<table class = "table_fabric">
<tr>
    <th class="column_silm">Stock id <p class="narrow_header">(click to edit)</p></th>
    <th class="column_wide">Design ref</th>
    <th class="column_mid">Main colour</th>
    <th class="column_mid">Style</th>
    <th class="column_silm">Stock price £/m</th>
    <th class="column_silm">Sale price £/m</th>
    <th class="column_silm">Markup %</th>
    <th class="column_silm">Quantity m</th>
    <th class="column_mid">Stock warning</th>
    <th class="column_wide">Manufacturer <p class="narrow_header">(click to view)</p></th>
    <th class="column_silm">Delete item</th>
</tr>

{% for fabric in fabrics %}
<tr >

    <td class="center_field"><a href="/fabrics/{{ fabric.id }}/edit" class="links_teal">{{ fabric.id }}</a></td>
    <td class="step_field">{{ fabric.design_ref }}</td>
    <td class="step_field"> {{ fabric.main_colour }}</td>
    <td class="step_field">{{ fabric.style }}</td>
    <td class="center_field">{{ fabric.stock_price }}</td>
    <td class="center_field">{{ fabric.sale_price }}</td>
    <!-- Mark up -->
    <td class="center_field">{{fabric.mark_up(fabric.stock_price, fabric.sale_price)}}</td>
    <td class="center_field">{{ fabric.quantity }}</td>
    <!-- Low stock warning -->
    <td class="warning_red step_field">{{ fabric.flag_low_or_out_of_stock(fabric.quantity) }}</td>  
    <td> 
        <a href="/manufacturer/{{ fabric.manufacturer.id }}" class="links_teal step_field">{{ fabric.manufacturer.name }}</a>
    </td>
    <td class="center_field">
    <form action="/fabrics/{{ fabric.id }}/delete-fabric" method="POST">
        <button>Delete</button>
    </form>
    </td>

</tr>

{% endfor %}

</table>

{% if fabrics == None %} No results meet this criteria {% endif %}

<!-- # ADD NEW FABRIC BUTTON -->
<button class="button_add"><a href="/fabrics/new" class="button_href"><strong>Add new fabric</strong></a></button>


{% endblock %}