{% extends 'base.html' %}

{% block content %}

<form action="/fabrics" method="post">

<div>
    <label for="manufacturer">Manufacturer</label>
    <select id="manufacturer" name="manufacturer_id"> 
        <!-- DROP DOWN -->   -->
        <option value=""></option>
            {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
            {% endfor %}
    </select> 
</div>

   <button type="submit">Run filter</button>

</form>


<table>
<tr>
    <th>Stock id (click to edit)</th>
    <th>Design ref</th>
    <th>Main colour</th>
    <th>Style</th>
    <th>Stock price £/m</th>
    <th>Sale price £/m</th>
    <th>Markup %</th>
    <th>Quantity m</th>
    <th>Stock warning</th>
    <th>Manufacturer (click to view)</th>
</tr>

{% for fabric in fabrics %}
<tr>
    <td><a href="/fabrics/{{ fabric.id }}/edit">{{ fabric.id }}</a></td>
    <td>{{ fabric.design_ref }}</td>
    <td> {{ fabric.main_colour }}</td>
    <td>{{ fabric.style }}</td>
    <td>{{ fabric.stock_price }}</td>
    <td>{{ fabric.sale_price }}</td>
    <td>{{fabric.mark_up(fabric.stock_price, fabric.sale_price)}}</td>
    <td>{{ fabric.quantity }}</td>
    <!-- <td>Low stock warning</td> -->
    <td>{{ fabric.flag_low_or_out_of_stock(fabric.quantity) }}</td>  

    <td> 
    
        <a href="/manufacturer/{{ fabric.manufacturer.id }}">{{ fabric.manufacturer.name }}</a>
        <!-- href determines url. Whatever is in double curlies is the name of the link on the web page -->

    </td>
</tr>
{% endfor %}

</table>

<!-- # ADD NEW FABRIC BUTTON -->
<button>
    <a href="/fabrics/new">Add Fabric</a>
</button>


<!-- # EDIT FABRIC BUTTON -->

{% endblock %}