{% extends 'base.html' %}

{% block content %}

<h1> New Fabric Form</h1>

<form action="/fabrics" method="post">
<ul class="form_wrapper">

    <li class="form_field form_input">
        <label for="manufacturer">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id" class="field_width" required autofocus> 
        <!-- drop down -->
        <option value=""></option>
        {% for manufacturer in all_manufacturers %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
        {% endfor %}
        </select>   
    </li>
    
    <li class="form_field form_input">
        <label for="design_ref">Design ref:</label>
        <input type="text" id="design_ref" name="design_ref" class="field_width2" required >
    </li>
    
    <li class="form_field form_input">
        <label for="main_colour">Main colour:</label>
        <select id="main_colour" name="main_colour" class="field_width" required > 
        <!-- drop down -->
            <option value= "" ></option>
            {% for colour in all_colours %}
            <option value="{{ colour }}">{{ colour }}</option>
            {% endfor %}
        </select> 
    </li>
    
    <li class="form_field form_input">
        <label for="style">Style:</label>
        <select id="style" name="style" class="field_width" required > 
        <!-- drop down -->
            <option value=""></option>
            {% for style in all_styles %}
            <option value="{{ style }}">{{ style }}</option>
            {% endfor %}
        </select> 
    <li class="form_field  form_input">
            <label for="stock_price">Stock price £:</label>
            <input type="string" id="stock_price" name="stock_price" class="field_width2" required >
    </li>
    
    <li class="form_field form_input">
        <label for="sale_price">Sale price £:</label>
        <input type="string" id="sale_price" name="sale_price" class="field_width2" required >
    </li>
    
    <li class="form_field form_input">
        <label for="quantity">Quantity m:</label>
        <input type="number" id="quantity" name="quantity" class="field_width2" required >        
    </li>

</ul>

<button type="submit" class="button link">Add to stock</button>
</form>


{% endblock %}