{% extends 'base.html' %}

{% block content %}

<form action="/manufacturers/{{ manufacturer.id}}" method="post">

    <div>
        <label for="name">Company name:</label>
        <input type="text" id="name" name="name" value = "{{ manufacturer.name }}"" required autofocus > 
    </div>

    <div>
        <label for="sales-contact">Sales contact:</label>
        <input type="text" id="sales_contact" name="sales_contact" value = "{{ manufacturer.sales_contact }}"" required > 
    </div>
    
    <div>
        <label for="status">Status:</label>
        <select id="active" name="active" required > 
            <!-- DROP DOWN -->  
        <option value="true" {% if manufacturer.active == True %} selected = "selected" {% endif%} >active</option>
        <option value="false" {% if manufacturer.active == False %} selected = "selected" {% endif %}>deactivated</option>
        </select> 
    </div>

    <button type="submit">Update and return to manufacturers</button>

</form>


{% endblock %}