{% extends 'base.html' %}

{% block content %}



<h3> Add Manufacturer </h3>
<form action="/manufacturers/new" method='post'>

    <div>
        <label for="name">Company name:</label>
        <input type="text" id="name" name="name" required autofocus >
    </div>

    <div>
        <label for="sales_contact">Sales contact:</label>
        <input type="text" id="sales_contact" name="sales_contact" required >
    </div>

    <div>
        <label for="status">Status:</label>
        <select id="active" name="active" required > 
            <!-- drop down -->  
        <option value="true">active</option>
        </select>   
    </div>
    
<button type="submit" class="button">Add</button>

</form>


<table class="table_manufacturers">
<tr>
    <th class="column_slim">Manufacturer id</th>
    <th class="column_wider">Company name (click to edit)</th>
    <th class="column_wider">Sales contact</th>
    <th class="column_wide">Status</th>
    <th class="column_silm">Delete item</th>
</tr>

{% for manufacturer in manufacturers %}
<tr>
    <td class="center_field"><a href="/manufacturers/{{ manufacturer.id}}/edit" class="links_teal">{{ manufacturer.id}}</a></td>
    <td class="step_field">{{ manufacturer.name}}</td>
    <td class="step_field">{{ manufacturer.sales_contact }}</td>
    <td class="step_field">{{ manufacturer.get_status() }}</td>
    <td class="center_field">
        <form action="/manufacturers/{{ manufacturer.id }}/delete-manufacturer" method="POST">
            <button>Delete</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}