.table_fabric{
    border-style: double;
    border-collapse: collapse;
    /* table-layout: auto; */
    width: 100%;
    margin: 20px 0px 30px 0px;
}

.table_manufacturers{
    border-style: double;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.narrow_header{
    margin:0;
}

td{
    height: 30px;
}

td, th{
    border: solid 1px black;
}

.center_field{
    text-align: center;
}

.step_field{
    padding: 0px 0px 0px 5px;
}

.warning_red{
    color: red;
}

.links_teal{
    color: teal;
}

.column_silm{
    width: 100px;
}

.column_mid{
    width:120px;
}

.column_wide{
    width: 160px;
}

.column_wider{
    width: 240px;
}

